.nav{
    background-color: black;
}
.jumbotron{
    background-color: blanchedalmond;
    text-align: center;
}
.container-fluid{
    background-color: blanchedalmond;
}
.card{
    background-color: blanchedalmond;
}